<h2 class="green">Create New Market</h2>
<div class="flex-column">
    <div class="market-form">Enter token contract address:</div>
    <div class="market-form"><input type="text" id="new-token" /></div>
    <div class="market-form">Enter base asset contract address:</div>
    <div class="market-form"><input type="text" id="new-base-asset" /></div>
    <div class="market-form">Minimum Order:</div>
    <div class="market-form"><input type="text" id="new-min-order" value="1" /><span class="text-small">BaseAsset</span></div>
    <div class="market-form">Tick Rounding:</div>
    <div class="market-form"><input type="text" id="new-tick-rounding" value="1" /></div>
    <div class="market-form" id="deploy-market-container"><button id="deploy-market" class="button-large">DEPLOY MARKET</button></div>
    <div class="spacer">&nbsp;</div>
</div>