<div class="flex-item">
    <div class="flex-row market-pair-container">
        <div class="flex-item">
            <!-- market-image -->
        </div>
        <div class="flex-item flex-grow text-right">
            <div class="market-pair-title"><!-- market-pair --></div>
            <div class="flex-row flex-end flex-middle">
                <div class="flex-item orange">
                    <!-- market-price -->
                </div>
                <div class="flex-item">
                    <!-- market-buttons -->
                </div>
            </div>
        </div>
    </div>
</div>