<table class="orderbook">
    <tbody>
        <tr>
            <td class="text-small faded">vol</td>
            <td class="text-small light">bids</td>
            <td class="text-small light">asks</td>
            <td class="text-small faded">vol</td>
        </tr>
        <tr>
            <td id="bid-amount-0" class="faded"></td>
            <td id="bid-price-0" class="green"></td>
            <td id="ask-price-0" class="red"></td>
            <td id="ask-amount-0" class="faded"></td>
        </tr>
        <tr>
            <td id="bid-amount-1" class="faded"></td>
            <td id="bid-price-1" class="green"></td>
            <td id="ask-price-1" class="red"></td>
            <td id="ask-amount-1" class="faded"></td>
        </tr>
        <tr>
            <td id="bid-amount-2" class="faded"></td>
            <td id="bid-price-2" class="green"></td>
            <td id="ask-price-2" class="red"></td>
            <td id="ask-amount-2" class="faded"></td>
        </tr>
        <tr>
            <td id="bid-amount-3" class="faded"></td>
            <td id="bid-price-3" class="green"></td>
            <td id="ask-price-3" class="red"></td>
            <td id="ask-amount-3" class="faded"></td>
        </tr>
        <tr>
            <td id="bid-amount-4" class="faded"></td>
            <td id="bid-price-4" class="green"></td>
            <td id="ask-price-4" class="red"></td>
            <td id="ask-amount-4" class="faded"></td>
        </tr>
        <tr>
            <td id="bid-amount-5" class="faded"></td>
            <td id="bid-price-5" class="green"></td>
            <td id="ask-price-5" class="red"></td>
            <td id="ask-amount-5" class="faded"></td>
        </tr>
    </tbody>
</table>