<div class="flex-row flex-middle disconnected-wallet-container" data-switch="switch-wallet">
    <div class="flex-item">
        <img src="./images/icon-wallets.png" class="wallets-icon" />
    </div>
    <div class="flex-item flex-grow">
        <div class="wallets-name text-big"><!-- wallet-name --></div>
    </div>
    <div class="flex-item flex-grow text-right">
        <div class="red">Disconnected</div>
        <div><!-- wallet-value --></div>
    </div>
</div>
<div class="flex-row flex-middle flex-center">
    <span class="wallet-address text-small blue"><!-- wallet-address --></span>
</div>